<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.video.ui"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".MobileVideoApplication"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.video.ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.video.ui.MediaDetailActivity">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="mvschema" android:host="video" android:pathPrefix="/item"/>
            </intent-filter>
        </activity>

        <activity android:name=".ChannelActivity">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="mvschema" android:host="video" android:pathPrefix="/album"/>
                <data android:scheme="mvschema" android:host="video" android:pathPrefix="/channelfilter"/>
            </intent-filter>
        </activity>

        <activity android:name=".SearchActivty">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="mvschema" android:host="video" android:pathPrefix="/search"/>
            </intent-filter>
        </activity>

        <activity android:name=".ChannelFilterActivity">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="mvschema" android:host="video" android:pathPrefix="/filter"/>
            </intent-filter>
        </activity>

        <provider
            android:name="com.video.ui.idata.iDataProvider"
            android:authorities="com.tv.ui.metro.mobile"
            android:exported="true"
            android:grantUriPermissions="true" >
        </provider>
    </application>

</manifest>